/*just for kicks background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);*/


.navbar {
    display: flex;
    background-color: #faf3dd;
    color: #08430a;
    box-shadow: -2px 10px 20px -15px rgba(14, 1, 12, 0.38);
    transition: all 0.5s;
}

.favicon{
    width: 100px;
    padding-left: 10px;
}

/*Add padding*/
.nav-item {
    padding: 0.6em 2em;
    position: relative;
}

.nav-link {
    font-family: "Playfair Display", serif;
    position: relative;
    letter-spacing: .15rem;
    text-align: center; /* Center the text */
}

/*Navbar link color. Override Bootstrap w/ specificity*/
.navbar-light .navbar-nav .nav-link {
    color: #367d57;
    font-size: 30px;
    text-shadow: .01em .01em 1px #214a32;
}

/* Change style of links on hover */
.navbar-light .navbar-nav .nav-link:hover {
    color: #ea1c2c;
    text-decoration: underline solid;
}


/* DROPDOWN */
/*Show the dropdown menu on hover*/
.nav-link:hover + .dropdown-menu, .dropdown-menu:hover {
    color: #ea1c2c;
    display: block;
    border: #faf3dd 5px;
}

/* Style for dropdown links */
.dropdown-menu a {
    color: #367d57;
    font-size: 1em;
    display: block;
}

/* Change style of dropdown links on hover */
.dropdown-menu a:hover {
    background-color: #faf6e8;
    color: red;
    font-size: 1.1em;
    z-index: 8;
}

/*When navbar toggles to fullbar, add dropdown shadow*/
@media (min-width: 992px) {
    .dropdown-menu {
        box-shadow: rgba(0, 0, 0, 0.2) -0px 15px 35px -20px;
        background-color: #faf3dd;
    }
}

/*When navbar toggles to hamburger*/
@media (max-width: 992px) {
    .dropdown-menu {
        background-color: #faf6e8;
        text-align: center; /* Center the text in the dropdown menu */
    }
}

/*Login/Signup buttons*/
.btn-primary {
    position: relative;
    width: 110px;
    height: 45px;
    border-radius: 25px;
    border-color:white;
    margin-right: -39px;
    font-size: 20px;
    z-index: 5;
    background-color: #7ca982;
    color: #ffffff;
    padding-left:1rem;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #6d9572;
}


.btn-secondary {
    position: relative;
    width: 130px;
    height: 45px;
    background-color: #367d57;
    color: #ffffff;
    border-radius: 25px;
    border-color:white;
    padding-left: 40px;
    font-size: 20px;
    z-index: 4;
}

.btn-secondary:hover {
    background-color: #2e6748;
}